body {
  background-color: rgb(43,59,76);
  width: 100%;
  height: 100%;
}

#background{
  background-image:url(images/bg3.jpg);
  position: absolute;
  width: 1430px;
  height: 690px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#note {
  color: rgb(0, 0, 0);
  font-size: 120px; 
  display: inline-block;
  height:180px;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: left;
  font-weight: 600;
  color: rgb(216, 158, 50);
  text-shadow: black 0 0 10px;
}

#freq {
  color: rgb(0, 0, 0);
  display: inline-block;
  font-size: 30px;
  height:100px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: 600;
  color: rgb(216, 158, 50);
  text-shadow: black 0 0 10px;
  text-align: left
}


#score {
  display: inline-block;
  font-size: 230px;
  font-family: "Lucida Console", "Courier New", monospace;
  position: absolute; 
  right: 0px; 
  top: 0px;
  font-weight: 600;
  color: rgb(216, 158, 50);
  text-shadow: black 0 0 10px;
  
}

#game {
  background-image: url(images/Background.png);
  background-size: 100% 100%;
  bottom: 50px;
  left: 300px;
  width: 850px;
  height: 572px;
  border: 4px solid black;
  margin: auto;
  position: absolute;
  overflow: hidden;

}

#gameover {
  background-color: rgb(0, 0, 0, 0.3);
  background-size: 100% 100%;
  bottom: 200px;
  left: 300px;
  width: 850px;
  height: 272px;
  border: 4px solid black;
  margin: auto;
  position: absolute;
}

#grass {
  background-image: url(images/Background_plants.png);
  background-size: 100% 100%;
  bottom: 50px;
  left: 300px;
  width: 850px;
  height: 572px;
}

#targetNote, #targetNote2 {
  color: rgb(0, 0, 0);
  display: inline-block;
  font-size: 50px;
  position: absolute;
  font-family: "Lucida Console", "Courier New", monospace;
  color:rgb(43, 59, 76);
  font-weight: 100;
}

#character {
  width: 110px;
  height: 110px;
  background-image: url(images/Cicada.png);
  background-size: 100% 100%;
  position: absolute;
  bottom: 256px;
  left: 50px;
}

#obstacleT, #obstacleT2 {
  width: 150px;
  height: 240px;
  background-image: url(images/ObsT1.png);
  background-size: 100% 100%;
  position: absolute;
  left: 950px;
}

#obstacleB, #obstacleB2 {
  width: 150px;
  height: 240px;
  background-image: url(images/ObsB1.png);
  background-size: 100% 100%;
  position: absolute;
  left: 950px;
  bottom: 0px;
}


@keyframes obstacle {
  0%{left:900px}
  100%{left:-200px}
}
